.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Header.css */

/* Style for the main menu items */
/* Header.css */

/* Style for the main menu items */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px; /* Adjust the spacing between menu items */
}

/* styles.css */
body {
  background-color: #5DADE2 ; /* Replace with your desired background color or image */
  /* You can also set other background properties here, like background-image */
}

.menu a {
  text-decoration: none;
  color: #333; /* Adjust the text color */
  font-weight: bold;
}

/* Style for the sub-menu */
.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff; /* Background color of the sub-menu */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
  display: none; /* Initially hide the sub-menu */
  z-index: 1; /* Ensure the sub-menu appears above other content */
  margin-top: 10px; /* Add margin to separate it from the parent menu item */
}

.sub-menu li {
  padding: 10px; /* Adjust the padding for sub-menu items */
}

.sub-menu a {
  color: #333; /* Adjust the text color for sub-menu items */
  text-decoration: none;
  display: block;
}

/* Show the sub-menu when the parent li is hovered */
.menu li:hover .sub-menu {
  display: block;
}


/* In your CSS file (e.g., App.css) */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}



.image {
  width: 100px; /* Set the width of your image */
  height: auto; /* Automatically adjust the height */
}
