/* GrammarSection.css */

.grammar-section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .grammar-lesson {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin-top: 0;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .example {
    font-weight: bold;
    margin-top: 10px;
  }
  /* styles.css */
.lesson-img {
  width: 100px; /* Desired width */
  height: 100px; /* Desired height */
}
