
.header {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.logo {
    max-width: 90vw; 
    height: auto; 
    margin-right: 120px; 
    margin-top: 1px; 
}
  
  
  .menu-container {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .menu {
    list-style: none; 
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-right: 30px; 
  }
  
  .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    background-color:#0092ca; 
    border-radius: 5px; 
  }
  
  .menu li a:hover {
    background-color:#0092ca; 
  }
  
  
  .image-container {
    margin-top: 20px; 
    width: 100vw;
  }
  
  .big-image {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }
  

  
.side-image {
  width: 600px; 
  height: auto; 
}

.big-image {
  width: 600px; 
  height: auto; 
}

.side-image-container {
  margin: 30px; 
}

body {
  background-color:  "#5DADE2 "; 
}

.background {
  background-color: blue; 
}


